body {
  display: block;
  background: #393d49;
}

/* * {
  box-sizing: border-box;
} */

.layui-container{
  background: #2f3442;
}

.sui-left-col {
  margin-top: 10px;
}

/* header */
.header {
  height: 59px;
  background-color: #393d49;
  border-bottom: 1px solid #616980;
}

.header .header-search {
  position: absolute;
  width: 150px;
  left: 135px;
  top: 16px;
}

.layui-container {
  position: relative;
  height: 100%;
}

.layui-container .logo img {
  height: 60px;
}

.header .layui-container .layui-nav {
  right: 15px;
}

.header .layui-nav {
  position: absolute;
  right: 0;
  top: 0;
}

.heart-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

/* .heart-table */

/* .heart-table{ */
/* width: 800px; */
/* margin-left: auto;
    margin-right: auto; */
/* } */

.heart-table img {
  width: 100%;
  height: 100%;
  padding: 0;
  vertical-align: middle;
}
.heart-table {
  position: relative;
}
.heart-table td {
  position: relative;
  width: 50px;
  height: 50px;
  /* border: blue solid 1px; */
  padding: 0;
}

.heart-table td .imgi {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}

/* top-ten */
.blk-top-ten .list-movies {
  display: flex;
  flex-direction: column;
}

.blk-top-ten .list-movies .list-top-movie-item {
  width: 100%;
  height: 200px;
  padding: 0px 10px 10px;
}

.blk-top-ten .list-movies .list-top-movie-item .wrap-item-movie {
  width: 100%;
  height: 100%;
  position: relative;
}

.blk-top-ten .list-movies .list-top-movie-item .movie-link {
  display: block;
  width: 90%;
  height: 100%;
}

.blk-top-ten .list-movies .list-top-movie-item .movie-link .movie-poster {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blk-top-ten .list-movies .list-top-movie-item .item-movie-descibe {
  position: absolute;
  top: 0;
  left: 0;
}

/* new film */
.new-movies-blk {
  display: block;
}

.new-movies-blk .list-movies {
  display: flex;
  flex-direction: column;
}

.new-movies-blk .list-movies .items-4-block {
  display: flex;
  /* flex-wrap: wrap; */
}

.new-movies-blk .list-movies .items-4-block .list-top-movie-item {
  margin:10px 10px 0 0;
}

.new-movies-blk .list-movies .items-4-block .list-top-movie-item.right-most {
  margin:10px 0px 0 0;
}


.new-movies-blk .list-movies .items-4-block .list-top-movie-item  .wrap-item-movie{
  position: relative;
}
.new-movies-blk .list-movies .list-top-movie-item .item-movie-descibe {
  position: absolute;
  top: 0;
  left: 0;
}


.new-movies-blk .list-movies .items-4-block .list-top-movie-item .movie-link{
  display: block;
}
.new-movies-blk .list-movies .items-4-block .list-top-movie-item .movie-poster{
  contain: content;
  width: 100%;
  height: 100%;
}

/* slider swiperjs */

.popular--slides {
  height: 600px;
}

.popular--slides .swiper {
  width: 100%;
  height: 100%;
}

.popular--slides .list-top-movie-item {
  width: 100%;
  height: 100%;
}

.popular--slides .list-top-movie-item .wrap-item-movie{
  /* width: 100%; */
  height: 100%;
}

.popular--slides .list-top-movie-item .movie-link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.popular--slides .list-top-movie-item .movie-poster{
  contain: content;
}

