body {
  display: block;
}

/* * {
  box-sizing: border-box;
} */

.sui-left-col {
  margin-top: 10px;
}

/* header */
.header {
  height: 59px;
  background-color: #393d49;
  border-bottom: 1px solid #404553;
}

.header .header-search {
  position: absolute;
  width: 150px;
  left: 135px;
  top: 16px;
}

.layui-container {
  position: relative;
  height: 100%;
}

.layui-container .logo img {
  height: 60px;
}

.header .layui-container .layui-nav {
  right: 15px;
}

.header .layui-nav {
  position: absolute;
  right: 0;
  top: 0;
}

.heart-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

/* .heart-table */

/* .heart-table{ */
/* width: 800px; */
/* margin-left: auto;
    margin-right: auto; */
/* } */

.heart-table img {
  width: 100%;
  height: 100%;
  padding: 0;
  vertical-align: middle;
}
.heart-table {
  position: relative;
}
.heart-table td {
  position: relative;
  width: 40px;
  height: 40px;
  /* border: blue solid 1px; */
  padding: 0;
}

.heart-table td .imgi {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}

/* top-ten */

.blk-top-ten {
  /* background-color: pink; */
}
.blk-top-ten .list-movies {
  display: flex;
  flex-direction: column;
}

.blk-top-ten .list-movies li {
  width: 100%;
  height: 200px;
  padding: 0px 10px 10px;
}

.blk-top-ten .list-movies li .wrap-item-movie {
  width: 100%;
  height: 100%;
  position: relative;
}

.blk-top-ten .list-movies li a {
  display: block;
  width: 90%;
  height: 100%;
}

.blk-top-ten .list-movies li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blk-top-ten .list-movies li .item-movie-descibe {
  position: absolute;
  top: 0;
  left: 0;
}

/* new film */
.new-movies-blk {
  display: block;
}

.new-movies-blk .list-movies {
  display: flex;
  flex-wrap: wrap;
}

.new-movies-blk .list-movies li {
  width: 25%;
  /* background-color: red; */
  /* padding: 10px 10px 0 0; */
}

.new-movies-blk .list-movies li.left-most{
  /* width: 25%; */
  /* background-color: red; */
  /* padding: 10px 0 0 0; */
}


.new-movies-blk .list-movies li.left-most .wrap-item-movie{
  /* width: 25%; */
  /* background-color: red; */
  padding: 10px 0px 0 0;
}

.new-movies-blk .list-movies li .wrap-item-movie {
  /* width: 100%;
  height: 100%; */
  position: relative;
  padding: 10px 10px 0 0;
  /* height: 60px !important; */
  /* width: 40px !important; */
}

.new-movies-blk .list-movies li .item-movie-descibe {
  position: absolute;
  top: 0;
  left: 0;
}

.sui-right-wrap {
  display: flex;
  flex-direction: column;
}

.sui-right-wrap .new-movies-blk {
  width: 100%;
}

.new-movies-blk .list-movies li a {
  display: block;
  /* width: 90%; */
  height: 100%;
}

.new-movies-blk .list-movies li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slider swiperjs */

.popular--slides {
  height: 600px;
}

.popular--slides .swiper {
  width: 100%;
  height: 100%;
}